<div class="card-top container-fluid">
  <div class="container d-flex justify-content-center">
    <div class="item" *ngFor="let category of categories">
      <a (click)="filter(category.filterValue)">
        <img src="{{ category.imageUrl }}" alt="" />
        <h6>{{ category.name }}</h6>
      </a>
    </div>
  </div>
</div>

<div class="class-container">
  <div class="row d-flex justify-content-center">
    <ng-container *ngFor="let item of filteredProducts | filter: searchKey: 'title'">
      <div class="card col-md-3">
        <p-card>
          <p-header>
            <img src="{{ item.image }}">
            <h5 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">
              {{ item.title }}
            </h5>
            <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">
              {{ item.description }}
            </p>
          </p-header>
            <p><strong>${{ item.price }}</strong></p>
            <button class="btn btn-primary" (click)="addToCart(item)">Add to cart</button>
        </p-card>
      </div>
    </ng-container>
  </div>
</div>

<app-footer></app-footer>